.pagination-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  gap: 15px;
}
.active > .page-link {
  background-color: #074684;
}

.select-container {
  margin-right: 1rem;
  display: flex;
  gap: 8px;
}

.btn-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade {
  font-size: 1.6rem;
  padding: 0 0.5rem;
  color: #040404;
  cursor: pointer;
  font-weight: bold;
}

.arrow {
  font-size: 1.6rem;
  padding: 0 0.5rem;
  color: #074684;
  cursor: pointer;
  font-weight: bold;
}
